:root {
    --cor-de-fundo: #0f0e0e;
    --verde: #6FFF57;
    --branco: #fafafa;
    --botao-ativo: #09090a;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}
    @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

    :root {
        --cor-de-fundo: #0c0b0b;
        --verde: #16c416;
        --branco: #eee7e7;
        --botao-ativo: #3A375E;
        --botao-inativo: rgba(32, 24, 114, 0.5);
        --texto-fundo: rgba(58, 55, 94, 0.3);
     }
    
        .botao {
            font-family: "Crakra Petch", sans-serif;
            background-color: var(--botao-inativo);
            color: var(--branco);
            display: flex;
            justify-content: center;
            padding: 1em;
            font-size: 18px;
            align-items: center;
            width: 100%;}
        

        .conteudo-principal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
        }
        .titulo-principal  {
            text-align: left;
            width: 100%;
            font-size: 32px;
        }
        .ativo{
            background-color: var(--botao-ativo);
            border-bottom: 4px solid var(--verde);
        }
        
                
    
    

          
    